@import url(https://fonts.googleapis.com/css?family=Roboto:300);
a {
    text-decoration: none !important;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #00A651;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #ffffff;
    font-size: 14px;
}

.form .message a {
    color: #4de4ff;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.imgavatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 0px;
}

.okay {
    background-color: rgba(35, 223, 66, 0.521);
    border-radius: 100%;
    text-align: center;
    padding: 2px 4.5px 2px 4.5px;
}

.error {
    background-color: rgba(255, 1, 1, 0.521);
    border-radius: 100%;
    text-align: center;
    padding: 2px 6px 2px 6px;
}

.mensajepass {
    color: black;
    margin-bottom: 5px;
    font-size: 13px;
}

.contentlogininf a {
    color: white;
}

header.header {
    position: relative;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-25%);
}

header.header h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.glitch-window {
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: white;
    text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
}

@keyframes crt-me {
    0% {
        clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
        clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
        clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
        clip: rect(82px, 9999px, 64px, 0);
    }
}