.inspiration-button {
    font-family: Helvetica, sans-serif;
    position: fixed;
    display: inline-block;
    z-index: 100;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 80px;
    background: linear-gradient(270deg, #1e80dc, #c61590);
    transition: transform 250ms ease;
}

.inspiration-button:hover,
.inspiration-button:focus,
.inspiration-button:active {
    transform: translate(-50%, -10%);
}

p {
    color: white;
}

a {
    color: white;
}